<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> User Profile </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <!--<div class="profile-sidebar">-->
            <!--&lt;!&ndash; PORTLET MAIN &ndash;&gt;-->
            <!--<div class="portlet light profile-sidebar-portlet">-->
                <!--&lt;!&ndash; SIDEBAR USERPIC &ndash;&gt;-->
                <!--<div class="profile-userpic">-->
                    <!--<img src="../../../assets/pages/img/avatars/team1.jpg" class="img-responsive" alt=""> </div>-->
                <!--&lt;!&ndash; END SIDEBAR USERPIC &ndash;&gt;-->
                <!--&lt;!&ndash; SIDEBAR USER TITLE &ndash;&gt;-->
                <!--<div class="profile-usertitle">-->
                    <!--<div class="profile-usertitle-name"> Marcus Doe </div>-->
                    <!--<div class="profile-usertitle-job"> Developer </div>-->
                <!--</div>-->
                <!--&lt;!&ndash; END SIDEBAR USER TITLE &ndash;&gt;-->
                <!--&lt;!&ndash; SIDEBAR BUTTONS &ndash;&gt;-->
                <!--<div class="profile-userbuttons">-->
                    <!--<button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>-->
                    <!--<button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>-->
                <!--</div>-->
                <!--&lt;!&ndash; END SIDEBAR BUTTONS &ndash;&gt;-->
                <!--&lt;!&ndash; SIDEBAR MENU &ndash;&gt;-->
                <!--<div class="profile-usermenu">-->
                    <!--<ul class="nav">-->
                        <!--<li ng-class="{active: $state.includes('profile.dashboard')}">-->
                            <!--<a ui-sref="profile.dashboard">-->
                                <!--<i class="icon-home"></i> Overview </a>-->
                        <!--</li>-->
                        <!--<li ng-class="{active: $state.includes('profile.account')}">-->
                            <!--<a ui-sref="profile.account">-->
                                <!--<i class="icon-settings"></i> Account Settings </a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#/todo">-->
                                <!--<i class="icon-check"></i> Tasks </a>-->
                        <!--</li>-->
                        <!--<li ng-class="{active: $state.includes('profile.help')}">-->
                            <!--<a ui-sref="profile.help">-->
                                <!--<i class="icon-info"></i> Help </a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash; END MENU &ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content fade-in-up">
            <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#" data-target="#tab_1_1" data-toggle="tab">Personal Info</a>
                            </li>
                            <li>
                                <a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <!-- PERSONAL INFO TAB -->
                            <div class="tab-pane active" id="tab_1_1">
                                <form role="form" action="#">
                                    <div class="form-group">
                                        <label class="control-label">First Name</label>
                                        <input type="text" class="form-control" readonly ng-model="profile.firstname"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control" readonly ng-model="profile.lastname"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" readonly ng-model="profile.username"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Phone Number</label>
                                        <input type="text" class="form-control" readonly ng-model="profile.phonenumber"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="text" class="form-control" readonly ng-model="profile.email"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">UserType</label>
                                        <input type="text"  class="form-control" readonly ng-model="profile.usertype"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <input type="text"  class="form-control" readonly ng-model="profile.status"/>
                                    </div>

                                    <!--<div class="margiv-top-10">-->
                                        <!--<a href="#" class="btn green-haze"> Save Changes </a>-->
                                        <!--<a href="#" class="btn default"> Cancel </a>-->
                                    <!--</div>-->
                                </form>
                            </div>
                            <!-- END PERSONAL INFO TAB -->
                            <!-- CHANGE PASSWORD TAB -->
                            <div class="tab-pane" id="tab_1_3">
                                <form action="#">
                                    <div class="form-group">
                                        <label class="control-label">Current Password</label>
                                        <input type="password" class="form-control" /> </div>
                                    <div class="form-group">
                                        <label class="control-label">New Password</label>
                                        <input type="password" class="form-control" /> </div>
                                    <div class="form-group">
                                        <label class="control-label">Re-type New Password</label>
                                        <input type="password" class="form-control" /> </div>
                                    <div class="margin-top-10">
                                        <a href="#" class="btn green-haze"> Change Password </a>
                                        <a href="#" class="btn default"> Cancel </a>
                                    </div>
                                </form>
                            </div>
                            <!-- END CHANGE PASSWORD TAB -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->