<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active" data-ng-bind="$state.current.data.pageTitle"></li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<!--<div class="note note-success note-bordered">-->
<!--<h3>CRM</h3>-->
<!--</div>-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-paper-plane font-yellow-casablanca"></i>
                    <span class="caption-subject bold font-yellow-casablanca uppercase">March Cashin</span>
                    <!--<span class="caption-helper">more samples...</span>-->
                </div>
                <div class="inputs">
                    <div class="portlet-input input-inline input-medium">
                    </div>
                </div>
            </div>
            <div class="portlet-body">


            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>