<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Dashboard </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
  <!--  <div class="note note-info">
        <h3>Meet Metronic AngularJS Version!
            <span class="close" data-close="note"></span>
        </h3>
        <p> AngularJS version of Metronic gives an extremely fast browsing experience to users. It uses lazy loading of dependency resources(modules, controllers, templates, jquery plugins, javascripts and even css files) on demand. UI-Router is used for
            flexible routing with nested views. UI Bootstrap enables using all Bootstrap framework components with pure AngularJS directives. </p>
        <span class="label label-danger">NOTE:</span> All Metronic features from the HTML version(pages, layout options, components, plugins, etc) are fully compatible in the AngularJS version.</span>
        </p>
    </div>-->
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">&#8358 {{bank}} </div>
                    <div class="desc"> Total Account Balance </div>
                </div>
                <a class="more" href="#"> &nbsp;
                   
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">&#8358 {{dbsum[0]}} </div>
                    <div class="desc"> Today's Cash-in </div>
                </div>
                <a class="more" href="#"> &nbsp;
                   
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">&#8358 {{dbsum[1]}} </div>
                    <div class="desc"> Month's Cash-in </div>
                </div>
                <a class="more" href="#"> &nbsp;
                  
                </a>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"> &#8358 {{dbsum[2]}} </div>
                    <div class="desc"> Year's Cash-in </div>
                </div>
                <a class="more" href="#"> &nbsp;
                   
                </a>
            </div>
        </div>
        
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Payment Modes</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <button class="btn dark btn-outline btn-circle btn-sm active" ng-click="loadTodaySummary()" ng-init="loadTodaySummary()" class="toggle" id="option11">Today</button>
                                <!--<button type="button" name="options" >Today</button>-->
                            <button class="btn dark btn-outline btn-circle btn-sm" ng-click='loadThisWeekSummary()' class="toggle" id="option12">Week</button>
                                <!--<button type="button" name="options" >Week</button>-->
                            <button class="btn dark btn-outline btn-circle btn-sm" ng-click='loadThisMonthSummary()' class="toggle" id="option13">Month</button>
                                <!--<button type="button" name="options" >Month</button>-->
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm"> Wallet </div>
                            <div class="uppercase font-hg font-red-flamingo">
                                {{rtsum[0]}}
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm"> Cash </div>
                            <div class="uppercase font-hg font-green">
                                {{rtsum[1]}}
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm"> Interswitch </div>
                            <div class="uppercase font-hg font-purple">
                                {{rtsum[2]}}
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm"> Nibss </div>
                            <div class="uppercase font-hg font-blue">
                                {{rtsum[3]}}
                            </div>
                        </div>
                    </div>
                    <ul class="list-separated list-inline-xs hide">
                        <li>
                            <div class="font-grey-mint font-sm"> Total Sales </div>
                            <div class="uppercase font-hg font-red-flamingo">
                                <span class="font-lg font-grey-mint">&#8358</span>
                                13760
                            </div>
                        </li>
                        <li> </li>
                        <li class="border">
                            <div class="font-grey-mint font-sm"> Revenue </div>
                            <div class="uppercase font-hg font-green">
                                <span class="font-lg font-grey-mint">&#8358</span>
                                4760
                            </div>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <div class="font-grey-mint font-sm"> Expenses </div>
                            <div class="uppercase font-hg font-purple">
                                <span class="font-lg font-grey-mint">&#8358</span>
                                1760
                            </div>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <div class="font-grey-mint font-sm"> Growth </div>
                            <div class="uppercase font-hg font-blue">
                                <span class="font-lg font-grey-mint">&#8358</span>
                                9760
                            </div>
                        </li>
                    </ul>
                    <div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px"> </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Business Unit Collection</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <button class="btn green btn-outline btn-circle btn-sm active" ng-click="loadTodayEarning()">
                                <input type="radio" name="options" class="toggle" id="option21">Today</button>
                            <button class="btn red btn-outline btn-circle btn-sm" ng-click="loadWeekEarning()">
                                <input type="radio" name="options" class="toggle" id="option22" >Week</button>
                            <button class="btn blue btn-outline btn-circle btn-sm" ng-click="loadMonthEarning()">
                                <input type="radio" name="options" class="toggle" id="option23">Month</button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row number-stats margin-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-left">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="sparkline_bar"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title"> Total Cash </div>
                                    <div class="number"> &#8358 {{earning.nsum}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-right">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="sparkline_bar2"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title">Transactions</div>
                                    <div class="number"> {{earning.tsum}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th colspan="2">Business District</th>
                                    <th>Total Collection </th>
                                    <th>Trans.</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="e in earning">
                                <td colspan="2" class="bold font-green">
                                    {{e[0]}}
                                </td>
                                <td> &#8358 {{e[1]}} </td>

                                <td> {{e[2]}} </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    
    
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->